// Color for envelope
$base           : #5E5690;
$base-light     : #7873A7;
$base-dark      : #555184;
$shadow         : #4F4C6B;
$letter         : #d8d7e5; 

// Responsive styles
$small-device   : 768px;
$large-device   : 1200px;